/* обнуление */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    outline: none;

    font-style: normal;
    font-weight: bold !important;
    font-size: 15px;
    line-height: 15px;
    color: #000000 !important;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #999999;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    display: block;
}

/* конец обнуления */

#root{
    display:flex;
    justify-content: center;
}
.App{
    width: 800px;
}

.post {
    display:flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
    border: 2px solid black;
    width:100%;

}
.post__btn{
    align-self: center;
}